<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- LABEL: Aqui ingresamos el nombre que aparece debajo del icono de la app
    android:label="Consumo Electrico" -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TP_Seminario"
        tools:targetApi="31">
        <activity
            android:name=".notifications.NotificacionesActivity"
            android:exported="false" />
        <service
                android:name=".notifications.NotificationService"
                android:enabled="true"
                android:label="NotificationServicelabel" >
        </service>
        <activity
            android:name=".ui.soporte.ContactoFragment"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditarElectrodomesticoActivity" />
        <activity android:name=".ui.electrodomesticos.EditarElectrodomesticoActivity" />
        <activity android:name=".ui.back.PantallaPrincipalActivity" />
        <activity
            android:name=".ui.back.EditarPerfilActivity"
            android:autofillHints="" />
        <activity android:name=".ui.back.MiPerfilActivity" />
        <activity
            android:name=".ui.usuario.EditarCredencialesActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".ui.back.ABMLElectrodomesticosActivity" />
        <activity android:name=".ui.back.CalculoConsumoActivity" />
        <activity android:name=".ui.soporte.ContactoSoporteFragment" />
        <receiver android:name=".NotificacionesWorker" android:enabled="true" android:exported="false" />
    </application>

</manifest>